@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<section class="container half-height bg-white">
    <div class="container flex-center pt-5">
        <div class="d-flex align-items-center content-height">
            <div class="row flex-center pt-5 mt-3">
                <div class="col-md-6 text-center text-md-left mb-5">
                    <div>
                        <h1 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s">If you forgot your password </h1>
                        <hr class="hr-light mb-5 wow fadeInLeft" data-wow-delay="0.3s">
                        <h6 class="wow fadeInLeft" data-wow-delay="0.3s">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi fuga nesciunt
                            dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea dolor molestiae,
                            quisquam iste, maiores. Nulla.
                        </h6>
                    </div>
                </div>

                <div class="col-md-6 col-xl-5">
                    <!--Form-->
                    <div class="card-register wow fadeInRight" data-wow-delay="0.3s">
                        <div class="card-body">
                            <!--Header-->
                            <div class="text-center">
                                <h3>
                                    Enter your email
                                </h3>
                            </div>

                            <form asp-controller="Account" asp-action="ForgotPassword"
                                  data-ajax-complete="onComplete"
                                  data-ajax="true" data-ajax-method="POST" id="ForgotPasswordForm">
                                <div class="md-form md-form-register">
                                    <i class="fa fa-envelope prefix"></i>
                                    <label asp-for="Email"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="text-center mt-4">
                                    <button type="submit" class="btn btn-mdb-color">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    @await Html.PartialAsync("_AjaxScriptsPartial")
}

<script>
    var onComplete = function () {
        toastr["info"]("Please check your email to reset your password.");
        $('#ForgotPasswordForm')[0].reset();
    };
</script>