@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change password";
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
}

<h4>@ViewData["Title"]</h4>

<div class="col-sm-12 col-md-12 col-lg-8">
    <form method="post"
          data-ajax-success="onSuccess(data)"
          data-ajax-failure="onFailure(xhr)"
          data-ajax="true" data-ajax-method="POST">
        @*<div asp-validation-summary="All" class="text-danger"></div>*@
        <div class="md-form">
            <label asp-for="OldPassword"></label>
            <input asp-for="OldPassword" class="form-control" />
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
        <div class="md-form">
            <label asp-for="NewPassword"></label>
            <input asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="md-form">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-default">Update password</button>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    @await Html.PartialAsync("_AjaxScriptsPartial")
}

<script>
    var onSuccess = function (data) {
        toastr["success"](data);
    };
    var onFailure = function (xhr) {
        toastr["error"](xhr.responseText);
    };
</script>